[submodule "src/config/default/jobs/empty"]
	path = src/config/default/jobs/empty
	url = https://github.com/copha-project/copha-job-template
[submodule "src/config/default/jobs/list_fetch"]
	path = src/config/default/jobs/list_fetch
	url = https://github.com/copha-project/list-fetch-job
[submodule "src/config/default/drivers/simple-driver"]
	path = src/config/default/drivers/simple-driver
	url = https://github.com/copha-project/simple-driver
