[submodule "src/config/default/drivers/simple-driver"]
	path = src/config/default/drivers/simple-driver
	url = https://github.com/copha-project/simple-driver
[submodule "src/config/default/storages/file"]
	path = src/config/default/storages/file
	url = https://github.com/copha-project/file-storage.git
[submodule "src/config/default/tasks/empty"]
	path = src/config/default/tasks/empty
	url = https://github.com/copha-project/copha-empty-task.git
